xmp {
	padding: 10px;
	background-color: buttonface;
	border: 0;
	font-size: 10px;
}

body .top .column {
	position: relative;
}

.delete {
		outline: 0;
}

.delete:hover,
.delete:focus {
	cursor: pointer !important;
	box-shadow: 0 0 0 0 !important;
}

#preview_container {
	display: none;
	background-color: #fff;
}

#auction_detail #preview_container {
	display: block;
}

#code_container {
	display: none;
}

#code_container xmp {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#second_menu .menu {
	padding: 0 ;
}