{% extends "base.html" %}


{% block content %}
<div class="ui page grid">
			<div id="second_menu" class="ui center aligned grid">
				<div class="ui labeled icon menu">
					<a class="item" href="/auction/list/">
						<i class="list layout icon"></i>
						List
					</a>
					<a class="item" href="/auction/create/">
						<i class="plus icon"></i>
						Create
					</a>
					<a class="item" href="/">
						<i class="edit icon"></i>
						Edit
					</a>
					<a class="item" href="/">
						<i class="trash icon"></i>
						Delete
					</a>
				</div>
			</div>
</div>

<div id="auction_detail" class="ui page grid">
<div class="column">

	<br /><br />

	<div class="ui center aligned grid">
		<button class="ui basic button" id="change_view" class="preview">Change view code/preview</button>
	</div>

	<br /><br />

	<div id="preview_container">
	<style>#desc,#gallery,#menu,.gallery,.logo img,h1{margin:0 auto}#gallery,#menu,h1{width:800px}#menu,.attr,.col h3,h2{text-transform:uppercase}#menu,.col-1 h3,h1{text-align:left}.desc-text,.gallery-box{border-left:1px solid #d7928b;border-right:1px solid #d7928b;border-bottom:1px solid #d7928b}#header{background:url(http://serwer1650393.hostingpremium.pl/top.jpg) center top no-repeat;height:400px}.logo img{display:block;padding-top:50px}#gallery a,#menu li{display:inline-block}#menu{font:400 20px/18px Tahoma;letter-spacing:0;padding-top:40px;width:1000px}#gallery img:hover{opacity:.5}#menu li{margin-left:20px}#menu li a{color:#fff;text-decoration:none;display:block;padding:10px 12px;letter-spacing:1px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;background:#d7928b}#menu li a:focus,#menu li a:hover{background:#fff;color:#d7928b}#gallery img{width:{% if instance.grid == 1 %}600{% elif instance.grid == 2 %}374{% elif instance.grid == 3 %}200{% endif %}px}.gallery-box{padding:20px}.gallery{width:{% if instance.grid == 1 %}600{% elif instance.grid == 2 %}{% elif instance.grid == 3 %}615{% endif %}px}h1{font:34px "Trebuchet MS",sans-serif;color:#383838}#desc{width:800px}h2{background:url(http://serwer1650393.hostingpremium.pl/bg.jpg);font:20px/20px "Trebuchet MS",sans-serif;padding:10px 15px;color:#fff;margin-bottom:0}.desc-text{font:12px Arial,sans-serif;padding:10px 20px}.tg td,.tg th{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;word-break:normal;border-color:#ccc;color:#333;overflow:hidden}.tg{border-collapse:collapse;border-spacing:0;border-color:#ccc;width:100%}.tg td{background-color:#fff}.tg th{font-weight:400;background-color:#f0f0f0}.container{color:#383838}#footer{width:840px;overflow:hidden;height:auto;margin:50px auto 0}#footer a{color:#a6a1a4;text-decoration:none}#footer a:focus,#footer a:hover{text-decoration:underline}.col{width:255px;float:left}.attr span,.col-in span{float:right}.col-1{margin-left:20px}.col-2{margin:0 17.5px}.col-3{margin-right:20px}.col-in{font:12px/14px Arial,sans-serif;height:350px;border-left:1px solid #d7928b;border-right:1px solid #d7928b;border-bottom:1px solid #d7928b;padding:15px;color:#a6a1a4}.col h3{background:url(http://i.imgur.com/d6X6lPR.jpg);font:400 20px/0 "Trebuchet MS",sans-serif;color:#fff;margin:0;letter-spacing:1px;text-shadow:1px 1px 0 #000}.col img{display:block;margin:0 auto}.attr{margin:0;padding:5px 10px;color:#fff;background:#d8938c;font-family:"Trebuchet MS";font-size:20px}.attr.hl{background:#cf8a83}.col-1 img,.col-2 img{display:inline-block;float:left;margin-right:13px}.col-1 p,.col-2 p{margin-top:0}.col h4{font:700 12px/12px Arial,sans-serif;margin:0 0 10px}.col-3 img{display:inline-block}.col h3{padding:0}.col img.img-title{margin:0;float:none}{% if instance.grid == 3 %}.gallery{margin:0 auto}{% endif %}</style>
	<div id="header">
	<div class="logo"><img src="http://serwer1650393.hostingpremium.pl/logo.png" alt="Betique.pl" /></div>
	<ul id="menu">
		<li>
			<a href="#">Moje aukcje</a>
		</li><li> 
			<a href="#">Regulamin</a>
		</li><li>
			<a href="#">Komentarze</a>
		</li><li>
			<a href="#">Zadaj pytanie</a>
		</li><li>
			<a href="#">Kontakt</a>
		</li>
	</ul>
	</div>
	<div class="container">
	<h1 id="pre_title">{{ instance.title }}</h1>
	<div id="desc">
		<h2>Opis produktu</h2>
		<div class="desc-text ">
			<p id="pre_description">{{ instance.description|linebreaks }}</p>
			<p id="pre_table">{{ instance.table|safe }}</p>
		</div>
	</div>
	<div id="gallery">
		<h2>Zdjecia produktu</h2>
		<div class="gallery-box">
			<div id="pre_gallery" class="gallery">
				{% for photo in photos %}
				<a href="{{ photo.photo }}" target="_blank">
					<img src="{{ photo.photo }}" />
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="col col-1">
			<h3><img src="http://i66.tinypic.com/hui0zn.png" title="Płatności" alt="Płatności" class="img-title" /></h3>
			<div class="col-in">
				<img src="http://i67.tinypic.com/ws8br7.png" title="Płatności PayU" alt="P³atno¶ci PayU" />
				<h4>PŁATNOŚCI PAYU</h4>
				<p>System PayU umożliwia błyskawiczną zapłatę. Jeśli wykonasz płatność tym systemem przed godziną 13:00, to wyślemy przedmiot tego samego dnia.</p>
				<br />
				<img src="http://i68.tinypic.com/2ni8nz8.jpg" alt="Przelew tradycyjny" />
				<h4>PRZELEW TRADYCYJNY</h4>
				<p>Przelew tradycyjny możesz wykonać na Poczcie Polskiej wypełniając odpowiedni druk.</p>
				<br /><p><b>PKO BP</b><br />
				22 1020 3613 0000 6402 0012 5294</p>
			</div>
		</div>
		<div class="col col-2">
			<h3><img src="http://i66.tinypic.com/2en9lxi.png" title="Wysyłka" alt="Wysyłka" class="img-title" /></h3>
			<div class="col-in">
				<img src="http://i68.tinypic.com/260g478.jpg" title="InPost Paczkomaty" alt="InPost Paczkomaty" />
				<h4>PACZKOMATY INPOST</h4>
				<p>Zamówienia realizowane są po przedpłacie i gotowe do odbioru w wybranym paczkomacie InPost. Przybliżony czas realizacji zamówienia wynosi od 2 do 3 dni robocze.</p>
				<br />
				<img src="http://i68.tinypic.com/2ni8nz8.jpg" title="Poczta Polska" alt="Poczta Polska" />
				<h4>POCZTA POLSKA</h4>
				<p>Zamówienia realizowane są za pośrednictwem Poczty Polskiej po przedpłacie. Przybliżony czas realizacji wynosi od 1 do 4 dni roboczych. </p>
				<br />
				List polecony ekonomiczny <span>8,00 zł</span><br />
				List polecony priorytetowy <span>11,00 zł</span><br />
				Paczkomaty InPost <span>7,99 zł</span><br />
				Polecony InPost <span>3,94 zł</span><br />
				Kurier InPost <span>12,18 zł</span><br />
			</div>
		</div>
		<div class="col col-3">
			<h3><img src="http://i66.tinypic.com/102knzk.png" title="Kontakt" alt="Kontakt" class="img-title" /></h3>
			<div class="col-in">
				<strong>GODZINY PRACY:</strong><br />
				PON - PT <span>10:00 - 18:00</span><br />
				SOB <span>10:00 - 14:00</span>
				<br /><br />
				<strong>E-MAIL:</strong><br /><a href="mailto:kontakt@betique.pl">kontakt@betique.pl</a>
				<br /><br />
				<strong>TELEFON:</strong><br />+48 722 200 961
				<br /><br /><br /><br />
				<div style="text-align: center;"><a href="https://www.facebook.com/betiquepl/"><img src="http://i65.tinypic.com/b97pxh.png" alt="Facebook" /></a></div>
			</div>
		</div>
	</div>
	</div>
	</div>



<div id="code_container">
<br />

<button id="copy_to_clipboard" class="ui blue button" data-clipboard-target="xmp">Copy to clipboard</button>

<br />
<xmp><style>#desc,#gallery,#menu,.gallery,.logo img,h1{margin:0 auto}#gallery,#menu,h1{width:800px}#menu,.attr,.col h3,h2{text-transform:uppercase}#menu,.col-1 h3,h1{text-align:left}.desc-text,.gallery-box{border-left:1px solid #d7928b;border-right:1px solid #d7928b;border-bottom:1px solid #d7928b}#header{background:url(http://serwer1650393.hostingpremium.pl/top.jpg) center top no-repeat;height:400px}.logo img{display:block;padding-top:50px}#gallery a,#menu li{display:inline-block}#menu{font:400 20px/18px Tahoma;letter-spacing:0;padding-top:40px;width:1000px}#gallery img:hover{opacity:.5}#menu li{margin-left:20px}#menu li a{color:#fff;text-decoration:none;display:block;padding:10px 12px;letter-spacing:1px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;background:#d7928b}#menu li a:focus,#menu li a:hover{background:#fff;color:#d7928b}#gallery img{width:{% if instance.grid == 1 %}600{% elif instance.grid == 2 %}374{% elif instance.grid == 3 %}200{% endif %}px}.gallery-box{padding:20px}.gallery{width:{% if instance.grid == 1 %}600{% elif instance.grid == 2 %}{% elif instance.grid == 3 %}615{% endif %}px}h1{font:34px "Trebuchet MS",sans-serif;color:#383838}#desc{width:800px}h2{background:url(http://serwer1650393.hostingpremium.pl/bg.jpg);font:20px/20px "Trebuchet MS",sans-serif;padding:10px 15px;color:#fff;margin-bottom:0}.desc-text{font:12px Arial,sans-serif;padding:10px 20px}.tg td,.tg th{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;word-break:normal;border-color:#ccc;color:#333;overflow:hidden}.tg{border-collapse:collapse;border-spacing:0;border-color:#ccc;width:100%}.tg td{background-color:#fff}.tg th{font-weight:400;background-color:#f0f0f0}.container{color:#383838}#footer{width:840px;overflow:hidden;height:auto;margin:50px auto 0}#footer a{color:#a6a1a4;text-decoration:none}#footer a:focus,#footer a:hover{text-decoration:underline}.col{width:255px;float:left}.attr span,.col-in span{float:right}.col-1{margin-left:20px}.col-2{margin:0 17.5px}.col-3{margin-right:20px}.col-in{font:12px/14px Arial,sans-serif;height:350px;border-left:1px solid #d7928b;border-right:1px solid #d7928b;border-bottom:1px solid #d7928b;padding:15px;color:#a6a1a4}.col h3{background:url(http://i.imgur.com/d6X6lPR.jpg);font:400 20px/0 "Trebuchet MS",sans-serif;color:#fff;margin:0;letter-spacing:1px;text-shadow:1px 1px 0 #000}.col img{display:block;margin:0 auto}.attr{margin:0;padding:5px 10px;color:#fff;background:#d8938c;font-family:"Trebuchet MS";font-size:20px}.attr.hl{background:#cf8a83}.col-1 img,.col-2 img{display:inline-block;float:left;margin-right:13px}.col-1 p,.col-2 p{margin-top:0}.col h4{font:700 12px/12px Arial,sans-serif;margin:0 0 10px}.col-3 img{display:inline-block}.col h3{padding:0}.col img.img-title{margin:0;float:none}{% if instance.grid == 3 %}.gallery{margin:0 auto}{% endif %}</style>
<div id="header"><div class="logo"><img src="http://serwer1650393.hostingpremium.pl/logo.png" alt="Betique.pl" /></div><ul id="menu"><li><a href="#">Moje aukcje</a></li><li> <a href="#">Regulamin</a></li><li><a href="#">Komentarze</a></li><li><a href="#">Zadaj pytanie</a></li><li><a href="#">Kontakt</a></li></ul></div>
<div class="container">
<h1 id="pre_title">{{ instance.title }}</h1><div id="desc"><h2>Opis produktu</h2><div class="desc-text"><p id="pre_description">{{ instance.description|linebreaks }}</p><p id="pre_table">{{ instance.table|safe }}</p></div></div>
<div id="gallery"><h2>Zdjecia produktu</h2><div class="gallery-box"><div id="pre_gallery" class="gallery">
{% for photo in photos %}
<a href="{{ photo.photo }}" target="_blank"><img src="{{ photo.photo }}" /></a>
{% endfor %}
</div></div></div>
<div id="footer"><div class="col col-1"><h3><img src="http://i66.tinypic.com/hui0zn.png" title="Płatności" alt="Płatności" class="img-title" /></h3><div class="col-in"><img src="http://i67.tinypic.com/ws8br7.png" title="Płatności PayU" alt="P³atno¶ci PayU" /><h4>PŁATNOŚCI PAYU</h4><p>System PayU umożliwia błyskawiczną zapłatę. Jeśli wykonasz płatność tym systemem przed godziną 13:00, to wyślemy przedmiot tego samego dnia.</p><br /><img src="http://i68.tinypic.com/2ni8nz8.jpg" alt="Przelew tradycyjny" /><h4>PRZELEW TRADYCYJNY</h4><p>Przelew tradycyjny możesz wykonać na Poczcie Polskiej wypełniając odpowiedni druk.</p><br /><p><b>PKO BP</b><br />22 1020 3613 0000 6402 0012 5294</p></div></div><div class="col col-2"><h3><img src="http://i66.tinypic.com/2en9lxi.png" title="Wysyłka" alt="Wysyłka" class="img-title" /></h3><div class="col-in"><img src="http://i68.tinypic.com/260g478.jpg" title="InPost Paczkomaty" alt="InPost Paczkomaty" /><h4>PACZKOMATY INPOST</h4><p>Zamówienia realizowane są po przedpłacie i gotowe do odbioru w wybranym paczkomacie InPost. Przybliżony czas realizacji zamówienia wynosi od 2 do 3 dni robocze.</p><br /><img src="http://i68.tinypic.com/2ni8nz8.jpg" title="Poczta Polska" alt="Poczta Polska" /><h4>POCZTA POLSKA</h4><p>Zamówienia realizowane są za pośrednictwem Poczty Polskiej po przedpłacie. Przybliżony czas realizacji wynosi od 1 do 4 dni roboczych. </p><br />List polecony ekonomiczny <span>8,00 zł</span><br />List polecony priorytetowy <span>11,00 zł</span><br />Paczkomaty InPost <span>7,99 zł</span><br />Polecony InPost <span>3,94 zł</span><br />Kurier InPost <span>12,18 zł</span><br /></div></div><div class="col col-3"><h3><img src="http://i66.tinypic.com/102knzk.png" title="Kontakt" alt="Kontakt" class="img-title" /></h3><div class="col-in"><strong>GODZINY PRACY:</strong><br />PON - PT <span>10:00 - 18:00</span><br />SOB <span>10:00 - 14:00</span><br /><br /><strong>E-MAIL:</strong><br /><a href="mailto:kontakt@betique.pl">kontakt@betique.pl</a><br /><br /><strong>TELEFON:</strong><br />+48 722 200 961<br /><br /><br /><br /><div style="text-align: center;"><a href="https://www.facebook.com/betiquepl/"><img src="http://i65.tinypic.com/b97pxh.png" alt="Facebook" /></a></div></div></div></div>
</div>
</xmp>
</div>



</div>
</div>



{% endblock %}

{% block js %}
<script type="text/javascript">
new Clipboard("#copy_to_clipboard");
$(document).ready(function () {
	$("#change_view").click(function () {
		if ($(this).hasClass("preview")) {
			$(this).removeClass("preview");
			$(this).addClass("code");
			$("#preview_container").slideToggle();
			$("#code_container").slideToggle();
		} else {
			$(this).removeClass("code");
			$(this).addClass("preview");
			$("#preview_container").slideToggle();
			$("#code_container").slideToggle();
		}
	});
});
</script>
{% endblock %}