{% extends "base.html" %}
{% block content %}
<div class="ui page grid">
			<div id="second_menu" class="ui center aligned grid">
				<div class="ui labeled icon menu">
					<a class="item" href="/auction/list/">
						<i class="list layout icon"></i>
						List
					</a>
					<a class="item" href="/auction/create/">
						<i class="plus icon"></i>
						Create
					</a>
				</div>
			</div>
</div>

<div class="ui page grid">
	<div class="column">

<h1 class="ui header">{{ title }}</h1>

<table class="ui celled padded table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Auction title</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for obj in object_list %}
		<tr>
			<td>{{ obj.id }}</td>
			<td><a href="/auction/detail/{{ obj.id }}/">{{ obj.name }}</a></td>
			<td>{{ obj.title }}</td>
			<td class="center aligned"><button class="mini ui blue button" onclick="window.location.href='/auction/edit/{{ obj.id }}/'">edit</button></td>
			<td class="center aligned"><button class="mini ui red button" onclick="window.location.href='/auction/delete/{{ obj.id }}/'">delete</button></td>
		</tr>
	{% endfor %}
	</tbody>
</table>


</div>
</div>
{% endblock content %}




