{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	
	<title>{% block title %}{% endblock %}</title>


	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/semantic.min.css"> -->

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/semantic.min.js"></script>
	
</head>
<body>
<div class="ui top ">
	<div class="ui page grid">
		<div class="column">
			<br />
			<h5>you're logged in as:<br />{{ request.user.username }}</h5>
			<br />
			<div class="ui inverted black menu">
				<div class="header item">AlleAdmin</div>
				<div class="right menu">
					<a class="item" href="/">Home</a>
					<a class="item" href="/accounts/register/">Register</a>
					{% if user.is_authenticated %}
					<a class="item" href="/accounts/logout/">Logout</a>
					{% else %}
					<a class="item" href="/accounts/login/">Login</a>					
					{% endif %}
			  </div>
			</div>
		</div>

		
	</div>
</div>
<div class="ui content ">
<br /><br />
	{% block content %}
	{% endblock %}	
<br /><br />
</div>

	{% block js %}
	{% endblock %}
</body>
</html>