{% extends 'base.html' %}
{% block title %}Simplesite | Home{% endblock %}
 
{% block content %}

<h1>Simple Site</h1>
<p>Site content goes here</p>

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}