{% extends 'base.html' %}
{% block title %}Simplesite | Home{% endblock %}
 
{% block content %}

<h1>Simple Site</h1>
<p>Site content goes here</p>


<div id="forms">
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" id="add_photo">add another</button>
    <input class="hidden" type="text" name="total_input_fields" value="0" />
    <input class="btn" type="submit" value="Submit" />
    
</form>
</div>


<script>
form_count = Number($("[name=extra_field_count]").val());
// get extra form count so we know what index to use for the next item.
$("#add_photo").click(function() {
    form_count ++;

    element = $('<input class="form-control" type="text"/>');
    element.attr('name', 'extra_field_' + form_count);
    $("#forms").append(element);
    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    // increment form count so our view knows to populate 
    // that many fields for validation
});
</script>

{% endblock %}