{% extends "base.html" %}
{% block title %}You are Registered{% endblock %}
{% block content %}

<div class="ui page grid">
<div class="column">
{% if messages %}
{% for message in messages %}
<div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    An error has occured
  </div>
  <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
</div>
</div>

{% endblock %}
{% block js %}
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
{% endblock %}

