{% extends "base.html" %}

{% block content %}
			<div id="second_menu" class="ui center aligned grid">
				<div class="ui labeled icon menu">
					<a class="item" href="/auction/list/">
						<i class="list layout icon"></i>
						List
					</a>
					<a class="item" href="/auction/create/">
						<i class="plus icon"></i>
						Create
					</a>
				</div>
			</div>


<div class="ui page grid">
	<div class="column">
		<h1 class="ui header">Welcome!</h1>

	</div>
</div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}