{% extends "base.html" %}
{% block title %}Logged Out{% endblock %}
{% block content %}
<div class="ui page grid">
<div class="column">
<div class="ui positive message">
  <div class="header">
    Successfully logged out
  </div>
  <p>come back soon!</p>
</div>
</div>
</div>

{% endblock %}
{% block js %}
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
{% endblock %}