{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

{% if form.errors %}
<div class="ui page grid">
<div class="column">
<div class="ui negative message">
  <div class="header">
    Error
  </div>
  <p>Username or password doesnt match in database!</p>
</div>
</div>
</div>
{% endif %}


<div class="ui middle aligned center aligned page grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>

            {{ form.username }}

          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password }}
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="Login" />
      </div>

      

    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>

</form>
{% endblock %}