{% extends "base.html" %}
{% block title %}You are Registered{% endblock %}
{% block content %}

<div class="ui page grid">
<div class="column">
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    Thank you for Registering
  </div>
  <p>You can login now, just go to <a href="/accounts/login/">login page</a></p>
</div>
</div>
</div>

  <h2>Thank you for Registering</h2>
  <p><a href="/accounts/login/">Please Login</a></p>

{% endblock %}
{% block js %}
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
{% endblock %}